<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0 }">
  <div class="row">
    <div class="col-md-12">
      <div><h3 class="pull-left">{{ post.title }}</h3></div>
      <div><h4 [ngStyle]="{color: 'black'}" class="pull-right">{{ post.created_at| date: 'M/d/yy, h:mm a' }}</h4></div>
    </div>
  </div>
  <p> {{ post.content }} </p>
  <button class="btn btn-success"
          (click)="onAddLoveIt()" > Love It</button>
  <button  class="btn btn-danger"
          (click)="onAddDontLoveIt()" > Don't Love It</button>
</li>
